@import "tailwindcss";

:root {
    --background: #020308;
    --card-background: #110f1a; /*--neutral-950*/
    --card-border: #c5c5de; /*--neutral-300*/
    --font-primary: #9598b6; /*--neutral-400*/
    --font-secondary: #fff; /*--neutral-000*/
    --font-additional: #5d51ff; /*--primary-500*/
    --select-background: #9aa3ff; /*--primary-300*/
    --secondary-background: #f1f0fb; /*--neutral-50*/
    --submit-button-bg: #5639f9; /*--primary-600*/
}

@theme inline {
    --color-background: #020308;
    --color-card-background: #110f1a;
    --color-card-background-secondary: #1e1e29;
    --color-card-border: #2d3143;
    --color-card-border-secondary: #9aa3ff;
    --color-font-primary: #9598b6;
    --color-font-secondary: #fff;
    --color-font-additional: #9aa3ff;
    --color-select-background: #9aa3ff;
    --color-secondary-background: #f1f0fb;
    --color-submit-disabled-button-bg: #5639f9;
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 3px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: url("/scrollbar.svg");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
    }
}

@keyframes arrowOpen {
    0% {
        transform: scaleY(1) rotate(0deg);
    }
    40% {
        transform: scaleY(0) rotate(0deg);
    }
    60% {
        transform: scaleY(0) rotate(180deg);
    }
    100% {
        transform: scaleY(1) rotate(180deg);
    }
}

@keyframes arrowClose {
    0% {
        transform: scaleY(1) rotate(180deg);
    }
    40% {
        transform: scaleY(0) rotate(180deg);
    }
    60% {
        transform: scaleY(0) rotate(0deg);
    }
    100% {
        transform: scaleY(1) rotate(0deg);
    }
}

@layer utilities {
    .animate-arrow-open {
        animation: arrowOpen 0.3s forwards;
    }
    .animate-arrow-close {
        animation: arrowClose 0.3s forwards;
    }
    .transition-transform-scaleY {
        transition: transform 0.3s, scaleY 0.15s;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
